#unlock_form.col-md-8.offset-md-2
  .card
    .card-header
      %h2.card-title
        = t '.resend_unlock_instructions'
    .card-body
      = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, id: 'new_user_unlock' }) do |f|
        = f.error_notification
        = f.input :reset_password_token, as: :hidden
        = f.full_error :unlock_token
        .form-inputs
          = f.input :email, required: true, autofocus: true
        .form-actions
          = f.button :button, class: 'btn btn-primary btn-block btn-lg', id: 'new_user_unlock_submit' do
            %i.fa.fa-pencil{ aria: { hidden: :true } }
            = t '.resend_unlock_instructions'

  .mt-3.text-right
    = link_to new_session_path(resource_name), class: 'text-secondary' do
      %i.fa.fa-sign-in{ aria: { hidden: :true } }
      = t('devise.shared.links.sign_in')

